@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #27272a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
